@using MvcCv.Models.Entitiy
@model List<TblEgitimlerim>
<div class="experience" id="experience">
    <div class="container">
        <div class="education">
            <div class="col-md-5 education-info">
                <h4>Eğitimlerim</h4>
            </div>
            <div class="col-md-7 education-matter">
                @foreach (var x in Model)
                {
                    <div class="edu-right back-shadow ">
                       
                            <h6>@(((DateTime)x.Tarih).ToString("dd-MMM-yyyy")) </h6>
                            <h5>@x.Baslık @x.AltBaslık2</h5>
                            <p>@x.AltBaslık1</p>
                      
                    </div>

                }
            </div>

        </div>
        <div class="clearfix"></div>
        @Html.Action("Deneyimlerim")
    </div>
  
       
    </div>

