@using MvcCv.Models.Entitiy

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Emre ULUSOY</title>

    <!--meta tags -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="~/favicon_io/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Intro Responsive web template, MVC, .NET, .NETCORE,
Emre, Emre Ulusoy, Ulusoy, Özgeçmiş, CV, EMREULUSOY" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- Nav-CSS -->
    <link href="~/web/css/nav.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/modernizr.custom.js"></script>
    <!-- //Nav-CSS -->
    <link rel="stylesheet" href="~/web/css/lightbox.css">
    <!--gallery-->
    <!--stylesheets-->
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->

    <link href="~/web/fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">

</head>
<body>
    <div class="header-outs">
        <div class="header-w3layouts">
            <div class="container">

                <div class="right-side">
                    <p>
                        <button id="trigger-overlay" type="button">
                            <span class="fa fa-bars" aria-hidden="true"></span>
                        </button>
                    </p>
                </div>
                <!-- open/close -->
                <div class="overlay overlay-hugeinc">
                    <button type="button" class="overlay-close">Close</button>
                    <nav>
                        <ul>
                            <li><a href="#index.html" class="scroll">Ana Sayfa</a></li>
                            <li><a href="#about" class="scroll">Hakkımda</a></li>
                            <li><a href="#services" class="scroll">Services</a></li>
                            <li><a href="#experience" class="scroll">Qualification</a></li>
                            <li><a href="#gallery" class="scroll">Projelerim</a></li>
                            <li><a href="#contact" class="scroll">İletişim</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="hedder-logo">
                    <h1><a href="index.html"> <>/<> </a></h1>
                </div>
                <!-- /open/close -->
                <!-- /navigation section -->
            </div>
            <div class="clearfix"> </div>

        </div>
        <!-- Slideshow 4 -->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="slider-img">
                            <div class="container">
                                <div class="slider-info">
                                    <h4>
                                        I am Emre Ulusoy
                                    </h4>
                                    <p>Full Stack .Net Developer</p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img ">
                            <div class="container">
                                <div class="slider-info">
                                    <h4>
                                        I Am Web Designer
                                    </h4>
                                    <p>Full Stack Web Developer</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- This is here just to demonstrate the callbacks -->
        <!-- <ul class="events">
          <li>Example 4 callback events</li>
        </ul>-->
    </div>

    <div class="container-fluid p-0">
        <!-- About-->
        @Html.Partial("Hakkımda")
        <hr class="m-0" />
        <!-- Education-->
        <!-- Skills-->s
        <section class="resume-section" id="skills">
            @Html.Action("Yeteneklerim")
        </section>
       
        <hr class="m-0" />
        <section class="resume-section" id="education">
            @Html.Action("Egitimlerim")
        </section>

        <hr class="m-0" />

        <!-- Interests-->
        <section class="resume-section" id="interests">
            @Html.Action("Projeler")
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <!-- Contact-->
        <section class="resume-section" id="contact">
            @Html.Action("İletisim")
        </section>
        <hr class="m-0" />
        <section class="resume-section" id="awards">
        </section>
        <footer>
            <div class="social-icons">

                <ul>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-rss"></span></a></li>
                    <li><a href="#"><span class="fa fa-vk"></span></a></li>
                </ul>
            </div>

            <p>© 2022 Emre Ulusoy | Tüm Hakları Saklıdır. </p>
        </footer>
    </div>
    <!-- Bootstrap core JS-->
    <!--js working-->
    <script src='~/web/js/jquery-2.2.3.min.js'></script>
    <script src="~/web/js/bootstrap.js"></script>
    <!--//js working-->
    <!--nav menu-->
    <script src="~/web/js/classie.js"></script>
    <script src="~/web/js/demo1.js"></script>
    <!-- //nav menu-->
    <!-- gallery -->
    <script src="~/web/js/lightbox-plus-jquery.min.js"></script>
    <!-- //gallery -->
    <!--banner-->

    <script src="~/web/js/responsiveslides.min.js"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 900,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--// banner-->
    <!-- OnScroll-Number-Increase-JavaScript -->
    <script src="~/web/js/jquery.waypoints.min.js"></script>
    <script src="~/web/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //OnScroll-Number-Increase-JavaScript -->
    <!-- start-smoth-scrolling -->
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>
